<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>500 Server Error | [NAME] Contractor</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body>

	<div style="width: 25em;background: hsl(0, 0%, 98%);padding: 2.5em;height: 100%;border: 0.2em solid var(--color1);position: absolute;transform: translate(-50%, 0);left: 50%;border-top: none;border-bottom: none;">
		<div class="promptHeading">
			500 Server Error
		</div>
		<div style="margin-top: 1em;margin-bottom: 1em;">
			An unknown error has occured. Please try again.
		</div>
		<div class="flexRow">
			<a class="button type2" href="/">Home</a>
		</div>
	</div>

</body>

</html>