<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create Account | Task Manager</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<script type="text/javascript">

	function validateEmail(email){

	    if(email.split(" ") != email){
	      return false
	    }

	    if(email.split("@") == email){
	      return false
	    }

	    if(email.split("@")[1].split(".") == email.split("@")[1]){
	      return false
	    }

	    if(email.split("@")[1].split(".").length != 2){
	      return false
	    }

	    if(email.split("@")[1].split(".")[1] == ""){
	      return false
	    }

	    return true

	  }
	
	async function submitPost(){

		if(document.getElementById("passwordInput").value != document.getElementById("confirmInput").value){

			raiseError({
				title: "Invalid Entry",
				message: "Your passwords don't match."
			});

			return

		}

		if(document.getElementById("passwordInput").value == ""){

			raiseError({
				title: "Invalid Entry",
				message: "Password cannot be empty."
			});

			return

		}

		if(document.getElementById("firstNameInput").value == ""){

			raiseError({
				title: "Invalid Entry",
				message: "First Name cannot be empty."
			});

			return

		}

		if(document.getElementById("lastNameInput").value == ""){

			raiseError({
				title: "Invalid Entry",
				message: "Last Name cannot be empty."
			});

			return

		}

		if(validateEmail(document.getElementById("emailInput").value) != true){

			raiseError({
				title: "Invalid Entry",
				message: "Your Email address must be properly formatted."
			});

			return

		}

		const payload = {
			firstName: document.getElementById("firstNameInput").value,
			lastName: document.getElementById("lastNameInput").value,
			email: document.getElementById("emailInput").value,
			password: document.getElementById("passwordInput").value,
		}

		const response = await fetch('/create', {
	      method: 'POST',
	      headers: {
	        'Content-Type': 'application/json'
	      },
	      body: JSON.stringify(payload),
	    });

	    if(response.status === 200){

	    	window.location.replace("/login");

	    	return
	    }

	    const textResponse = await response.text();
	    
	    if(textResponse[0] === '{'){

	      const error = await JSON.parse(textResponse);
	      raiseError(error);

	    }

	}

</script>

<body>

	<main></main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

	<div id="promptBox" style='display: block'>

		<div class='promptHeading'>Create New Account</div>

		<div class="promptScrollBox">
			
			<div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>First Name:</div>
					<input type="text" id='firstNameInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Last Name:</div>
					<input type="text" id='lastNameInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Email:</div>
					<input type="email" id='emailInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Password:</div>
					<input type="password" id='passwordInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key, submitPost);">
					<div>Confirm Password:</div>
					<input type="password" id='confirmInput'>
				</div>

			</div>

			<div style='display:flex;padding-top:1em'>

				<div class='button' onclick="submitPost();">Submit</div>
				<a class='button' href="/login">Return to Login</a>
				
			</div>

		</div>

	</div>

	<div id='errorBlock'>
		<div class='deleteSymbol' onclick='dismissError();' style='margin-top: 2.5%; height:1em; width:1em'></div>
		<div class='errorText'>
			<div id="errorTitle" class='errorTitle'></div>
			<p id="errorMessage" class='errorMessage'></p>
		</div>
	</div>

</body>

</html>