<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Task Manager</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body>

	<header>
		<div></div>
		<a class="button" href="/login">Log In</a>
	</header>

	<main style="display: flex; flex-direction: column; justify-content: center; align-items: center">
		<div style="width:100%; height: max-content; min-height: 30%; background: var(--color1); color: white; display: flex; font-size: calc( var(--fontSize) * 1.2 ); flex-direction: column; justify-content: space-evenly; align-items: center">
			<div style="font-size: calc( var(--fontSize) * 1.5 );">Keep track of tasks. It's that simple.<br></div>
			<div>Manage individual and team tasks in one central hub that does not rely on anything but an internet connection.</div>
			<div>This application is completely Free and Open-Source.</div>
			<div style="display: flex">
				<a class="button type2 dark" href="/create">Create an Account</a>
				<a class="button type2 dark" href="https://github.com/mbmcauliffe/tasks-application" target="_blank">View the Source Code</a>
			</div>
		</div>
		
	</main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

</body>

</html>