<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reset | Tasks</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<script type="text/javascript">
	
	function submit(){

		if( document.getElementById('passwordInput').value !== document.getElementById('passwordConfirm').value ){

			raiseError({
				title: "Invalid",
				message: "Your passwords don't match."
			});

			return

		}

		placeFetch(window.location.href, 'POST', {
			email: document.getElementById('emailInput').value,
			password: document.getElementById('passwordInput').value
		} );

	}

</script>

<body>
	<script>0</script> <!-- Firefox Bug Fix -->

	<header>
		<a href="/" style="background-image: url('/img/logo.png');height:2em;width:4.57em;background-size: cover;"></a>
		<div></div>
	</header>

	<main></main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

	<div id="promptBox" style='display: block'>

		<div class='promptHeading'>Reset Your Password</div>

		<div class="promptScrollBox">

			<div class='inputBlock' onkeydown="return enterHandling(event.key);">
				<div>Email Address:</div>
				<input type="email" id='emailInput' autofocus>
			</div>

			<div class='inputBlock' onkeydown="return enterHandling(event.key);">
				<div>New Password:</div>
				<input type="password" id='passwordInput'>
			</div>

			<div class='inputBlock' onkeydown="return enterHandling(event.key, submit);">
				<div>Confirm New Password:</div>
				<input type="password" id='passwordConfirm'>
			</div>
			
		</div>

		<div style='display:flex;align-items:center;padding-top:1em'>

			<div class='button' onclick="submit()">Reset Password</div>
			
		</div>

	</div>

	<div id='errorBlock'>
		<div></div>
		<div class='errorText'>
			<div id="errorTitle" class='errorTitle'></div>
			<div id="errorMessage" class='errorMessage'></div>
		</div>
		<div class='deleteSymbol' onclick='dismissError();' style='height:1em; width:1em'></div>
	</div>

</body>

</html>