<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login | Tasks</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body>
	<script>0</script> <!-- Firefox Bug Fix -->

	<header>
		<a href="/" style="background-image: url('/img/logo.svg');height:2em;width:4.57em;background-size: cover;"></a>
		<div class="button type2" onclick="logout()">Log Out</div>
	</header>

	<main></main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

	<div id="promptBox" style='display: block'>

		<div class='promptHeading'>Verify Your Email Address</div>

		<div class="promptScrollBox">

			In order to use this tasks application, we need to verify that your email address is correct. Please click on the button below to request a verification email from noreply@noreply.mbmcauliffe.net
			
		</div>

		<div style='display:flex;align-items:center;padding-top:1em'>

			<div class='button' onclick="placeFetch('/verify', 'POST', null, ()=>{ document.getElementById('sentMessage').style.setProperty('display', 'block') } );">Send Verification Email</div>
			<div id="sentMessage" style="display: none;color:green; border-top: 0.1em solid green;border-bottom: 0.1em solid green;height: 1em;line-height:1em;padding: 0.1em 0.5em 0.1em 0.5em;">Email Sent!</div>
			
		</div>

	</div>

	<div id='errorBlock'>
		<div></div>
		<div class='errorText'>
			<div id="errorTitle" class='errorTitle'></div>
			<div id="errorMessage" class='errorMessage'></div>
		</div>
		<div class='deleteSymbol' onclick='dismissError();' style='height:1em; width:1em'></div>
	</div>

</body>

</html>